[submodule "submod/libctfb"]
	path = submod/libctfb
	url = ssh://git@mmstgzvjkkd7ro3lhnwopseqfmulola7htnqiqwmtu7qaafha5cx3gad.onion:/srv/git/libctfb
[submodule "submod/cstl"]
	path = submod/cstl
	url = ssh://git@mmstgzvjkkd7ro3lhnwopseqfmulola7htnqiqwmtu7qaafha5cx3gad.onion:/srv/git/cstl
[submodule "submod/pdjson"]
	path = submod/pdjson
	url = https://github.com/skeeto/pdjson
